.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 5px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
}
.bs-docs-header h1 {
    margin-top: 0;
    color: #fff;
}
th{ color: #000000; }

label{color: #0033cc;}    
.navbar{background-color: #6f5499;}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6f5499;
    color: white;
    text-align: center;
}
.dropdown, .dropdown-menu, .dropdown-toggle { 
    background-color: #6f5499;                
}
body,html,.main-display-area,.tab-content,.tab-pane,iframe,.row{
    width: 100%;
    height:100%;                
}
